.vscode

Deep Learning/7. (Googleapis flower dataset) Image classification using CNN/datasets/*
Deep Learning/7. (Googleapis flower dataset) Image classification using CNN/model/*
Deep Learning/7. (Googleapis flower dataset) Image classification using CNN/.ipynb_checkpoints/(Googleapis flower dataset) Image classification using CNN-checkpoint.ipynb

Deep Learning/6. CNN for Handwriten digits Classification/model/*
Deep Learning/6. CNN for Handwriten digits Classification/.ipynb_checkpoints/CNN for Handwritten Digits Classification-checkpoint.ipynb

Deep Learning/8. Data Augmentation for (Googleapis flower dataset) Image classification using CNN/datasets/*
Deep Learning/8. Data Augmentation for (Googleapis flower dataset) Image classification using CNN/model/*

Deep Learning/9. Transfer Learning using Google MobileNet V2 Model/datasets/*
Deep Learning/9. Transfer Learning using Google MobileNet V2 Model/model/*
Deep Learning/9. Transfer Learning using Google MobileNet V2 Model/mobilenetv2_feature_vector/*
Deep Learning/11. Word2Vec in Genesim/Cell_Phones_and_Accessories_5.json
Deep Learning/11. Word2Vec in Genesim/Cell_Phones_and_Accessories_5.json.gz
Deep Learning/10. Word Embeddings using Keras embedding layer/.ipynb_checkpoints/Word Embeddings using Keras embedding layer-checkpoint.ipynb
Deep Learning/11. Word2Vec in Genesim/.ipynb_checkpoints/Word2Vec in Gensim-checkpoint.ipynb
Deep Learning/11. Word2Vec in Genesim/model
Deep Learning/10. Word Embeddings using Keras embedding layer/model/variables/variables.data-00000-of-00001
Deep Learning/10. Word Embeddings using Keras embedding layer/model/saved_model.pb
Deep Learning/10. Word Embeddings using Keras embedding layer/model/keras_metadata.pb
Deep Learning/10. Word Embeddings using Keras embedding layer/model/variables/variables.index

Deep Learning/12. Text Classification with BERT/model/*
Deep Learning/12. Text Classification with BERT/bert_en_uncased_preprocess_3/*
Deep Learning/12. Text Classification with BERT/bert_en_uncased_L-12_H-768_A-12_4/*
Deep Learning/12. Text Classification with BERT/.ipynb_checkpoints/Text Classification with BERT-checkpoint.ipynb
Deep Learning/9. Transfer Learning using Google MobileNet V2 Model/.ipynb_checkpoints/Transfer Learning using Google MobileNetV2 Model-checkpoint.ipynb

Tensorflow/1. Input Pipeline/.ipynb_checkpoints/Input Pipeline-checkpoint.ipynb
Tensorflow/tf_serving/saved_models/*

Tensorflow/2. Quantization Techniques/model/*
Tensorflow/2. Quantization Techniques/.ipynb_checkpoints/Quantization Techniques-checkpoint.ipynb
