
Deep Learning/7. (Googleapis flower dataset) Image classification using CNN/datasets/*
Deep Learning/7. (Googleapis flower dataset) Image classification using CNN/model/*

Deep Learning/6. CNN for Handwriten digits Classification/model/*
Deep Learning/6. CNN for Handwriten digits Classification/.ipynb_checkpoints/CNN for Handwritten Digits Classification-checkpoint.ipynb
Deep Learning/7. (Googleapis flower dataset) Image classification using CNN/.ipynb_checkpoints/(Googleapis flower dataset) Image classification using CNN-checkpoint.ipynb
